#about
  %img.avatar.img-rounded(src="http://www.gravatar.com/avatar/1389a5352039ad44f3416b02dfd2c3d5?s=200")
  %h2 Andriy Yanko
  %h3 Engineer

  %p
    %i ruby, javascript, C/C++, linux

  %p
    %ul
      %li= link_to 'github.com/ayanko', 'http://github.com/ayanko'
      %li= link_to 'railsware blog', 'http://railsware.com/blog/author/ayanko/'

