.page-header
  %h2#events Events

%h3 EuRuKo 2012 - CapHub lightning talk

%iframe(src="http://player.vimeo.com/video/44313639" width="500" height="281" frameborder="0" webkitAllowFullScreen=true mozallowfullscreen=true allowFullScreen=true)

%p
  = link_to 'CapHub lightning talk slides', 'http://ayanko.github.com/caphub-slides/'
